---
import layoutText from "../Mocks/TextsViews/layoutText"
import Footer from "./componentsLayout/Footer"
import Navbar from "./componentsLayout/Navbar"

const { title, content } = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<head>
			<meta charset="UTF-8" />
			<meta name="description" content="Astro description" />
			<meta name="viewport" content="width=device-width" />
			<link rel="icon" type="image/svg+xml" href={layoutText.urlLogo} />
			<meta name="generator" content={Astro.generator} />
			<meta name="description" content={content} />
			<title>{title}</title>
			<!-- etiquetas para mejorar SEO organico - optimizan para ser compartidas en redes  -->
			<meta property="og:title" content={title} />
			<meta property="og:description" content={content} />
			<meta property="og:image" content={layoutText.imageContentSeo} />
			<meta property="og:type" content="website" />
	
			<meta name="twitter:card" content="summary_large_image" />
			<meta name="twitter:title" content={title} />
			<meta name="twitter:description" content={content} />
			<meta name="twitter:image" content={layoutText.imageContentSeo} />
	</head>
	<body class="bg-BACKGROUND font-sans">
		<Navbar client:load />
		<slot />
	</body>
	<Footer client:load/>
</html>
